html {
    font-size: 62.5%;
}

body {
    background: rgb(var(--background-rgb));
    font-family: 'Open Sans', sans-serif;
    font-size: 1.3rem;
    font-weight: 400;
    color: rgb(var(--text-rgb));
}

a {
    text-decoration: none;
    transition: color 0.175s ease-in-out;
}

svg {
    width: 100%;
    height: 100%;
    display: block;
    fill: currentColor;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

::selection {
    background: var(--accentOrange);
}
