.header {
    padding: 45px 20px;
    text-align: center;
}

.logo {
    width: 105px;
    height: 105px;
    margin: 0 auto 30px;
}

.subtitle {
    font-family: 'Courier New', Courier, monospace;
    font-size: 1.4rem;
    font-weight: 500;
    margin: 0 auto;
    max-width: 350px;
}
